
/* Language Selector */
#portal-languageselector {
    float: right;
    background: #e3e3e3;
    position: relative;
    z-index: 3; /* personaltools should be above #portal-header (with z-index: 2) */
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    font-size: 80%;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
}

#portal-languageselector dl {
}
#portal-languageselector dt {
    font-weight: normal;
}
#portal-languageselector dt.actionMenuHeader a:after {
    content: " ▼";
}
#portal-languageselector dd {
    right: 0;
    padding-top: 0.5em;
}
#portal-languageselector dd {
    background: #e3e3e3;
    padding-bottom: 0.5em;
}
#portal-languageselector dd a {
    line-height: 2em;
    padding: 0 0.75em;
}
#portal-languageselector dd a:hover {
    background: #205c90;
    color: White;
}
